<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Pet Store API Test Suite" parallel="false">
    <listeners>
        <listener class-name="utils.ExtentReportListener"/>
    </listeners>
    
    <test name="Pet CRUD Tests">
        <classes>
            <class name="tests.PetCrudTest"/>
        </classes>
    </test>
    <test name="Pet Performance Tests">
        <classes>
            <class name="tests.PetPerformanceTest"/>
        </classes>
    </test>
    <test name="Pet Negative Tests">
        <classes>
            <class name="tests.PetNegativeTest"/>
        </classes>
    </test>
    <test name="Pet Image Upload Tests">
        <classes>
            <class name="tests.PetImageUploadTest"/>
        </classes>
    </test>
</suite>
